<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container mt-5 mb-5">
    <!-- 화면에 보여질 내용이 들어갈 부분 -->
    <form action="/goods/save" method="post" class="row g-3" enctype="multipart/form-data">
        <input type="text" name="goodsName" class="form-control" placeholder="상품이름">
        <input type="text" name="goodsPrice" class="form-control" placeholder="상품가격">
        <input type="text" name="goodsMaker" class="form-control" placeholder="제조사">
        <input type="file" name="goodsFile" class="form-control" multiple>
        <input type="submit" value="상품등록" class="btn btn-primary">
    </form>
</div>

<div th:replace="~{component/footer :: footer}"></div>

</body>
</html>